.result {
    border: 1px solid white;
    border-radius: 50px;
    height: 5vh;
    width: 40vw;
}

.subcategories {
    border: 1px solid white;
    height: 50vh;
    width: 85vw;
}

.hidden-categories {
    overflow: scroll;
    height: 55vh;
    width: 50vw;
}

default-categories {
    color: blue;
}